body {
  background: #0f172a;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #111827;
  padding: 30px;
  width: 320px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
}

h2 {
  color: #22c55e;
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: none;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  background: #22c55e;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}

#status {
  text-align: center;
  margin-top: 10px;
  color: white;
}